body {
  margin: 0;
  font-family: Arial;
  background: #0d0d18;
  color: white;
  text-align: center;
}

.puzzle-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* GRID */
.puzzle-grid {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 15px;
}

.puzzle-tile {
  width: 90px;
  height: 90px;
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.puzzle-tile img {
  width: 60px;
}

.puzzle-tile.active {
  background: gold;
}

/* RIGHT */
.puzzle-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.puzzle-slot {
  width: 90px;
  height: 90px;
  border: 1px dashed gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzle-slot img {
  width: 60px;
}

button {
  padding: 10px 20px;
  background: gold;
  border: none;
  cursor: pointer;
}
